.navContainer{
    background-color: var(--maniaBlack) !important;
    color: rgba(255, 255, 255, 0.775) !important;
    border-bottom: .3px solid rgba(0, 0, 0, 0.3) !important;
}

.newNavPath:hover{
    text-shadow:
    0 0 10px #fff,
    0 0 17px #fff,
    0 0 0px #0fa; 
}
